

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.div1 {
    background-color:gainsboro;
    display: flex;
    align-items: center;
    padding: 10px;
}

.div1 p {
    margin-left: 20px;
    font-size: 20px;
}

form {
    width: 100%;
    height: calc(100vh - 120px); 
    background-color:rgb(56, 105, 146);
    padding: 20px;
    color: white; 
}
.titulo{
    background-color:darkblue ;
    width: 400px;
    font-size: 19px;
    border: 5px solid #1f53c5;
}
.titulo>p{
    margin-left: 5px;
}
.datos{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
}
.datos>div>div{
    margin-top: 8px;
    margin-left: 4px;
}
.datos>div{
    background-color: gainsboro;
    color: black;
    width: 400px;
    border: 5px solid #1f53c5;
}
.robot{
    padding-top: 15px;
    font-size: 12px; 
    padding-right: 8px; 
    display:flex;
    padding-left: 260px;
}

.robot>input{   
    width: 20px;
    height: 16px;
    cursor: pointer; 
    
}

.boton{
    text-align: center;
    padding: 10px;
}
button{
    width: 120px;
    height: 40px;
    background-color: darkblue;
    color: aliceblue;
    border-radius: 10px;
    font-size: 17px;
}
button:hover{
    background-color: blue;
    cursor: pointer;
}
select ,.docu{
    border:2px solid blue;
    width: 130px;
}
select{
    cursor: pointer;
}